<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TipCalculator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>44D573A01FF35D9100D9F17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D573B41FF35D9200D9F17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>44D573BF1FF35D9200D9F17D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
